* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

.main {
    text-align: center;
    background: url(./img/allyson-carter-ClilMdu189E-unsplash\ \(1\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    font-size: 18px;
}

#abbeslogo {
    height: 150px;
    margin-top: 50px;
}

.welcome {
    text-align: center;
    margin: 150px auto;
    background-color: rgb(0, 0, 0, 0.8);
    width: 600px;
    height: 180px;
    border-radius: 15px;
    color: white;
}

h1 {
    font-weight: 500;
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
}

#h2 {
    margin-top: 120px;
}

h3 {
    margin: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.welcometext {
    padding-top: 20px;
}

article {
    color: black;
    margin: 100px 0px 0px;
}

.location {
    margin-bottom: 30px;
}

section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bigbox {
    width: 800px;
    border-radius: 5px;
    border-color: rgb(230, 165, 47);
    border-style: solid;
    background-color: rgb(255, 166, 0, 0.1);
    border-width: 2px;
    margin: 0 20px;
}

.smallbox {
    display: flex;
    justify-content: space-between;
    height: 33%;
    margin: 10px 30px 10px
}

.separator {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 166, 0, 0.7);
    height: 1px;
}

.lineundertext {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 2px;
    margin: 20px auto 30px;
}

.smallerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    text-align: center;
    height: 60px;
    margin: 15px;
    border-radius: 10px;
    border-radius: 5px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    border-width: 2px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(255, 166, 0);
}

h4:hover {
    color: rgb(255, 166, 0);
}

.bookingbutton {
    margin-top: 20px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    background-color: rgb(255, 166, 0);
    padding: 15px 30px 15px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.bookingbutton:hover {
    font-size: 17px;
    background-color: rgb(172, 112, 0);
    padding: 15px 40px 15px;
    transition: all ease-in-out 0.15s;
}

#iglogo {
    margin: 20px 0px 15px;
}

footer {
    text-align: center;
    color: black;
    background: linear-gradient(white, rgb(255, 166, 0, 0.2));
}

#copyright {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
}

#creator {
    padding-bottom: 10px;
    color: black
}

@media only screen and (max-width: 700px) {
    .welcome {
        width: 90vw;
        margin-top: 100px;
    }
    #abbeslogo {
        height: 120px;
    }
    h1 {
        font-size: 22px;
        margin-top: 15px;
    }
    h3 {
        font-size: 20px;
        margin: 15px 0px 15px;
    }
    .bigbox {
        width: 100vw;
    }
    .smallbox {
        width: 70vw;
    }
    .smallerbox {
        margin: 8px;
    }
    footer {
        background: linear-gradient(white, rgb(255, 166, 0, 0));
    }
}

@media only screen and (max-height: 600px) {
    .welcome {
        margin: 50px auto;
    }
}

@media only screen and (max-height: 500px) {
    .welcome {
        margin: 20px auto;
    }
}

@font-face {
    src: url(./fonts/BebasNeue-Regular.ttf);
    font-family: 'bebas';
}

@font-face {
    src: url(./fonts/Montserrat-Light.ttf);
    font-family: 'montserrat';
}