/* General starts */

* {
    margin: 0;
    padding: 0;
    font-family: montserrat-medium;
    box-sizing: border-box;
}

body {
    background-image: url(./img/backgroundopacity.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

p {
    font-family: montserrat-medium;
    font-size: 16px;
}

section {
    padding: 80px 0 80px;
    background-color: rgb(0, 0, 0, 0.9);
}

h1 {
    font-size: 65px;
    font-family: condensed;
}

h2 {
    font-size: 35px;
    font-family: condensed;
}

/* General ends */



/* Header starts */

#abbes-logo {
    margin-left: 10px;
    height: 80px;
    cursor: pointer;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.95);
    height: 100px;
    position: fixed;
    width: 100%;
    border-bottom: orange solid 2px;
}

nav ul li {
    display: inline;
    margin: 0 40px 0;
    cursor: pointer;
    transition: ease-in-out 0.04s;
    border-bottom: white solid 0px;
}

nav ul li:hover {
    transition: ease-in-out 0.03s;
    padding-bottom: 5px;
    border-bottom: white solid 1px;
}

.separator {
    width: 50px;
    background-color: orange;
    height: 2px;
    margin: 5px 0 0;
}

/* Header ends */

/* Hamburger menu */

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-burger {
    width: 45px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .02);
    transition: all .2s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .02);
    transition: all .2s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-16px);
}

.menu-btn-burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: rgb(255, 255, 255, 0);
    text-align: center;
}

.info p {
    font-size: 20px;
}

.booking-button {
    margin: 25px 0 20px;
    padding: 15px 30px 15px;
    color: rgb(0, 0, 0);
    border: orange solid 3px;
    border-radius: 5px;
    font-size: 18px;
    transition: ease-in-out 0.1s;
    background-color: orange;
    cursor: pointer;
    font-weight: bold;

}

.booking-button:hover {
    background-color: rgb(255, 255, 255, 0);
    transition: ease-in-out 0.1s;
    color: white;
}

/* Home ends */



/* About starts */
.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 50px;
}

.about-text {
    text-align: left;
    width: 480px;
}

.about-heading {
    width: fit-content;
}

#pic-of-abbe {
    border-radius: 20px;
}

.about-text p {
    margin-top: 15px;
}

/* About ends */


/* Booking starts */

.booking {
    text-align: center;
}

.booking-heading {
    margin: auto;
    width: fit-content;
}

.booking-heading .separator {
    margin: 8px auto 0;
}

.booking h2 {
    color: white;
}

.booking-form {
    margin-top: 20px;
}

#booking-api {
    border: orange solid 3px;
    margin-top: 10px;
    width: 700px;
    height: 600px;
}

/* Booking ends */

/* Contact starts */

.contact {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    color: white;
}

.contact-info-heading {
    width: fit-content;
}

.contact-info-subheading {
    margin-top: 10px;
}

.contact-info {
    width: 500px;
}

.contact-info-text {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.contact-info-text p {
    margin: 3px 0 23px;
}

#red {
    margin-top: 10px;
    color: rgb(255, 0, 0, 0.9);
}

h3 {
    font-size: 18px;
    margin: 0 0 15px;
    color: orange;
}

#location-map {
    height: 380px;
    width: 500px;
    border: orange 3px solid;
}

/* Contact ends */

/* Footer starts */

footer {
    background-color: black;
    font-family: montserrat-light;
    display: flex;
    padding: 10px 0 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    border-top: solid rgb(255, 165, 0, 0.2) 2px;
}

footer p {
    font-size: 14px;
}

#credits a {
    color: orange;
    text-decoration: none;
    transition: ease 0.2s;
}

#credits a:hover {
    color: rgb(138, 87, 189);
    transition: ease 0.2s;
}

/* Footer ends */



/* MediaQuerys starts */

@media only screen and (max-width: 1100px) {
    header {
        justify-content: space-between;
    }
    .menu-btn {
        display: flex;
    }
    nav {
        position: absolute;
        display: none;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-bottom: solid orange 2px;
    }
    nav ul li {
        display: block;
        margin: 30px 50px 30px;
    }

    nav ul li:hover {
        transition: none;
        border: none;
        padding: 0;
    }

    .contact {
        gap: 40px;
    }
}

@media only screen and (max-width: 870px) {
    
    body {
        background-position: top;
        background-attachment: scroll;
        background-size: 200vh;
    }
    
    section {
        padding: 80px 0 80px;
        background-color: rgb(19, 19, 19);
    }

    section {
        padding: 60px 0 60px;
    }

    h1 {
        font-size: 45px;
    }

    .home p {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }

    .about-heading {
        margin: auto;
    }

    .booking-heading {
        margin: auto;
    }

    .contact-info {
        margin: 0 8% 0;
    }

    .contact-info-heading {
        margin: auto;
    }

    .booking-form {
        width: 95%;
        margin: auto;
        margin-top: 20px;
    }

    #booking-api {
        width: 94%;
        margin: 20px 3% 0;
    }

    .contact-info-text {
        width: fit-content;
        margin: 50px 0 0;
    }

    .separator {
        margin: 8px auto 0;
    }

    .contact {
        gap: 30px;
        padding-bottom: 50px;
    }

    .about-text {
        width: 90%;
        text-align: center;
    }

    footer {
        gap: 5px;
    }

}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 35px;

    }

    .location {
        width: 100%;
    }

    #location-map {
        text-align: center;
        width: 90%;
        margin: 0 5% 0;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 20px;
    }

    .info p {
        font-size: 12px;
    }

    .booking-button {
        margin: 20px 0 0;
        padding: 10px 20px 10px;
        color: rgb(0, 0, 0);
        border: orange solid 3px;
        border-radius: 5px;
        font-size: 12px;
        transition: ease-in-out 0.1s;
        background-color: orange;
        cursor: pointer;
    }

}

/* MediaQuerys ends */


/* Portrait mediaQuery starts */


@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    .home {
        padding-top: 70vh;
    }
}

/* Portrait mediaQuery ends */


/* Fonts */

@font-face {
    font-family: montserrat-light;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: condensed;
    src: url(./fonts/OpenSansCondensed-Bold.ttf);
}